<html>
    <head>
        <title>

        </title>

    </head>
    <body>
        <form action="/admin" method="POST">
            <label for="">email</label>
            <input type="email">Email:</input>
             <input type="submit">
        </form>

    </body>
</html>